$card-width: 21.25em;
$card-height: 21.25em;
$card-bg-color: #F6F6F6;
$card-border-color: #ccc;
$card-border-radius: 0.5em;
$card-box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
$gap: 1.25em;
$margin-left: 4.375em;
$margin-top: 1.875em;
$card-content-padding: 0.063em;
$card-title-bg: rgba(0, 0, 0, 0.3); // Background color for the title
$card-title-color: #fff; // Title text color

.cards {
  width: 75em;
  background-color: $card-bg-color;
  border: 0.063em solid $card-bg-color;
  border-radius: 1.25em;
  margin-left: $margin-left;
  margin-top: $margin-top;
  display: flex;
  flex-wrap: wrap; // Pour permettre l'enroulement des cartes
  gap: $gap; // Espacement entre les cartes

  .card {
    border: 0.063em solid $card-border-color;
    border-radius: $card-border-radius;
    width: $card-width;
    height: $card-height;
    box-shadow: $card-box-shadow;
    margin-left: 1.875em;
    margin-top: 1.975em;
    position: relative; // Ajouter cette ligne

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $card-border-radius; // Assurez-vous que l'image a aussi les coins arrondis
    }

    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: $card-content-padding;
      background-color: $card-title-bg; // Background color with opacity
      color: $card-title-color; // Title text color
      border-bottom-left-radius: $card-border-radius;
      border-bottom-right-radius: $card-border-radius;
      text-align: center;

      .card-title {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cards {
    width: 100%; // La largeur prend tout l'espace disponible
    
    align-items: center; // Centrer les cartes horizontalement
    margin-left: 400px; // Supprimer le margin-left pour les petits écrans
    margin-top: $gap; // Utiliser l'espacement comme marge supérieure
  }

  .card {
    width: 100%; // La largeur prend tout l'espace disponible
    margin-left: 0; // Supprimer le margin-left pour les petits écrans
    margin-top: $gap; // Utiliser l'espacement comme marge supérieure

    &-image {
      width: 46em;
    height: 11em;
    }
  }
}