$card-width: 340px;
$card-height: 340px;
$card-bg-color: #F6F6F6;
$card-border-color: #ccc;
$card-border-radius: 8px;
$card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$gap: 20px;
$margin-left: 70px;
$margin-top: 30px;
$card-content-padding: 1px;
$card-title-bg: rgba(0, 0, 0, 0.3); // Background color for the title
$card-title-color: #fff; // Title text color

.cards {
  width: 1200px;
  background-color: $card-bg-color;
  border: 1px solid $card-bg-color;
  border-radius: 20px;
  margin-left: $margin-left;
  margin-top: $margin-top;
  display: flex;
  flex-wrap: wrap; // Pour permettre l'enroulement des cartes
  gap: $gap; // Espacement entre les cartes

  .card {
    border: 1px solid $card-border-color;
    border-radius: $card-border-radius;
    width: $card-width;
    height: $card-height;
    box-shadow: $card-box-shadow;
    margin-left: 30px;
    margin-top: 30px;
    position: relative; // Ajouter cette ligne

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $card-border-radius; // Assurez-vous que l'image a aussi les coins arrondis
    }

    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: $card-content-padding;
      background-color: $card-title-bg; // Background color with opacity
      color: $card-title-color; // Title text color
      border-bottom-left-radius: $card-border-radius;
      border-bottom-right-radius: $card-border-radius;
      text-align: center;

      .card-title {
        margin: 0;
      }
    }
  }
}