// Variables
$dropdown-bg-color: #FF6060;
$dropdown-header-padding: 1em;
$dropdown-icon-color: white;
$dropdown-body-padding: 1em;

// Mixins
@mixin dropdown-header-styles {
  background-color: $dropdown-bg-color;
  padding: $dropdown-header-padding;
  cursor: pointer;
}

// Styles for dropdown components
.dropdown {
  margin-bottom: 1rem;
  border-radius: 0.25em;
  overflow: hidden;

  .dropdown-header {
    @include dropdown-header-styles;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 4s ease;
  }

  .dropdown-icon {
    color: $dropdown-icon-color;
    font-size: 1.5em;
    transition: transform 0.3s ease;
  }

  .rotate {
    transform: rotate(-180deg);
  }

  .dropdown-body {
    .dropdown-content {
      line-height: 1.6em;
      width: 100%;
      box-sizing: border-box;
      padding: 0;
      opacity: 0;
      height: 0;
      

      &.open {
        padding: $dropdown-body-padding;
        height: auto;
        opacity: 1;
        transform: scaleY(1);
        transform-origin: top;
     
      }

      &.close {
        padding: 0;
        height: 0;
        opacity: 0;
        transform: scaleY(0);
        transition: transform 0.7s ease, opacity 0.7s ease, height 0.7s ease, padding 0.7s ease;
      }
    }
  }
}
