@import "../../layout/Footer.scss";
.paysage img {
   width: 77.5em; /* 1240px / 16px (base font size) */
   height: 13.938em; /* 223px / 16px (base font size) */
   margin-top: 3.125em; /* 50px / 16px (base font size) */
   margin-left: -0.7em; /* 50px / 16px (base font size) */
   object-fit: cover;
   border-radius: 1.5em; /* 1.6px / 16px (base font size) */
   filter: brightness(0.6); // Réduit la luminosité à 70%
 
   

 }
 
 .dropdownn {
   margin-left: 4.5em; /* 100px / 16px (base font size) */
   margin-top: 3em; /* 30px / 16px (base font size) */
   width: 1023px;
   
   padding: 0;

  
 
 }
 .dropdown-item{
  
 }
 
 .dropdown-title {
   display: flex;
   justify-content: space-between;
   color: white;

 }

 .main{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px; /* Ajoute un padding pour éviter que le contenu touche les bords */
 }
 
 
 @media screen and (max-width: 932px) {

  .aboutcontainer{
    max-width: 15em;
      min-width:  10em;
    padding: 0em 0em;
    
  .paysage img {
    width: 21.5em; /* 1240px / 16px (base font size) */
    height: 10em; /* 223px / 16px (base font size) */
    margin: 0;
    margin-top: 40px;
    
  
    
 
  }
  .dropdownn{
    margin: 0;
    margin-top: 1.75em;
    width: 21.938em;
    height: 1.875em;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
    
  }
  
  
 
}

.footer
 {
  width: 100%;
  max-width: 100%;
}
}



