
.paysage img {
   width: 77.5em; /* 1240px / 16px (base font size) */
   height: 13.938em; /* 223px / 16px (base font size) */
   margin-top: 3.125em; /* 50px / 16px (base font size) */
   margin-left: 3.125em; /* 50px / 16px (base font size) */
   object-fit: cover;
   border-radius: 1.5em; /* 1.6px / 16px (base font size) */
   filter: brightness(0.6); // Réduit la luminosité à 70%
 
   

 }
 
 .dropdownn {
   margin-left: 6.25em; /* 100px / 16px (base font size) */
   margin-top: 1.875em; /* 30px / 16px (base font size) */
 
 }
 
 .dropdown-title {
   display: flex;
   justify-content: space-between;
   color: white;
 }
 
 
 @media screen and (max-width: 768px) {
  .paysage img {
    width: 335px; /* 1240px / 16px (base font size) */
    height: 111px; /* 223px / 16px (base font size) */
    margin: 0;
    margin-top: 30px;
    
  
    
 
  }
  .dropdownn{
    margin: 0;
  }
  
  
 
}