@import "../../layout/Footer.scss";

.aboutcontainer {
  .paysage {
    img {
      width: 77.5em; /* 1240px / 16px (base font size) */
      height: 13.938em; /* 223px / 16px (base font size) */
      margin-top: 3.125em; /* 50px / 16px (base font size) */
      margin-left: -0.7em; /* 50px / 16px (base font size) */
      object-fit: cover;
      border-radius: 1.5em; /* 1.6px / 16px (base font size) */
      filter: brightness(0.6); // Réduit la luminosité à 70%
    }
  }

  .dropdownn {
    width: 80%;
    margin-left: 100px;
    margin-top: 20px;

    .dropdown-header {
      width: 100%;
      height: 2em;
    }

    .dropdown-title {
      display: flex;
      color: white;
      margin-bottom: 0.313em;
      margin-top: 0.875em;
    }

    .dropdown-icon {
      margin-left: 19em; /* 1100px / 16px (base font size) */
      color: white;
      padding-top: -8em;
    }
  }
}

@media screen and (max-width: 768px) {
  .aboutcontainer {
    .dropdownn {
      margin-top: 2em;
      margin-left: 0;
      width: 100%;

      .dropdown-header {
        width: 100%;
        height: 2em;
      }

      .dropdown-icon {
        margin-left: 19em; /* 1100px / 16px (base font size) */
        color: white;
        padding-top: -8em;
      }
    }

    .paysage {
      img {
        width: 100%; /* 1240px / 16px (base font size) */
        margin: 0;
      }
    }
  }
}