
@import "../../layout/Footer.scss";

   .logement-pictures {
     margin-top: 1.875em;
   }
 
   .title-host {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 1.25em; // Ajustez si nécessaire
 
     .logement-title {
       font-size: 24px; // Ajustez selon vos besoins
       color:  #FF6060;
      width: 31.25em;
      height: 70
     }
 
     .logement-host {
       display: flex;
       align-items: center;
 
       .host-picture {
         width: 64px; /* Ajustez la taille selon vos besoins */
         height: 64px; /* Assurez-vous que la hauteur est égale à la largeur pour un cercle parfait */
         border-radius: 50%; /* Rend l'image circulaire */
         object-fit: cover; 
        
         border-radius: 50%;
         margin-left: 1.25em; // Espacement entre l'image et le nom
       }
 
       .host-name {
         margin-left: 0.625em; // Espacement entre l'image et le nom
       }
     }
   }

   /* Enlever les puces des listes */
ul {
  list-style-type: none;
  padding: 0;
}

/* Styles pour les étoiles de notation */
.rating {
  display: flex;
  margin-top: 1em;
}

/* Alignement des tags sur une seule ligne avec un espace entre eux */
.logement-tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em; /* Ajustez l'espacement entre les tags si nécessaire */
}

.logement-tags .tag {
  background-color: #FF6060; /* Couleur de fond des tags */
  padding: 0.25em 0.5em; /* Ajustez le padding si nécessaire */
  border-radius: 0.625em; /* Ajout d'arrondis aux coins */
  color:white;
}
 
.logement-tags{
  display: flex;
  justify-content: space-between;
}
.Description{
  color: antiquewhite;
  width: 37.375em;
}
  
.logement-equipments{
  color: aliceblue;
  width: 37.375em;
 
}
.details{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.313em;
  margin-top: 1.875em;
 
}
.Description  .dropdown-body{
  color: black;

}
.logement-equipments .dropdown-body{
  color: black;
}
.Description .dropdown-icon {
  margin-left: 31.25em; /* 500px / 16px (base font size) */
  color: white;
  margin-bottom: 1.875em; /* 30px / 16px (base font size) */
}

.logement-equipments .dropdown-icon {
  margin-left: 31.25em; /* 500px / 16px (base font size) */
  color: white;
  margin-bottom: 1.875em; /* 30px / 16px (base font size) */
}
@media (max-width: 768px) {
  .details{
    display: flex;
    flex-direction: column;
  }
  .logement-pictures {
    margin-top: 7em;
  }
  
}