.img img{
    margin-top: 40px;
    width: 550px;
    height: 263px;
    margin-left: 290px;
}
.texts p{
    font-size: 36px;
    margin-left: 230px;
    color: #FF6060;
    margin-top: 70px;

}

.return{
    color:black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

@media screen and (max-width: 768px) {
    .img img{
        margin-top: 4.8em;
        width: 210px;
        height: 100px;
        margin-left: 3.925em;
        display: flex;
        justify-content: center;
        
    }
    .texts p{
        font-size: 1.25em;
        margin-left: 1.3em;
        color: #FF6060;
        margin-top: 4.37em;
        text-align: center;
    
    }
    
    .return{
        color:black;
        font-size: 0.8em;
        text-align: center;
        margin-top: 4.37em;
    }
    
      
   
    
        
        
  }