.bannière {
  /* Définir l'image de fond */
  background-image: url('/IMG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 99%;
  height: 12.5em;
  border-radius: 8%;
  margin-top: 3.75em;
  margin-right: 4.5em;
  position: relative; /* Pour positionner l'élément correctement */

  /* Ajouter une superposition semi-transparente en tant que pseudo-élément */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Noir avec une opacité de 0.6 */
    border-radius: 5%; /* Conserve le même rayon de bordure */
  }

  p {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF; /* Couleur du texte */
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 130px;
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;

    p {
      position: absolute;
      top: 20%;
      left: 5%;
      display: flex;
      flex-direction: column;
      transform: translateY(-50%);
      text-align: start;
      font-size: 1.5em;
      width: 70%;
    }
  }
}

  