footer {
  .bann {
    background-color: black;
    width: 100%; // Utilisez un pourcentage pour que la largeur soit relative
    height: 13.0625em; // Conversion de 209px en em
    margin-top: 1em; // Conversion de 40px en em
    position: relative;
    
  }

  .kasalogo {
    margin-top: 3.75em; // Conversion de 60px en em
    margin-left: 36.25em;
    
  }

  .kasap {
    color: white;
    margin-left: 27.125em;
    font-size: 1.2em;
    
  }

}
@media screen and (max-width: 768px) {
  
  footer {
    
    .bann{
      width: 96%;
      height: 16em;
      margin-top: 1.9em;
      position: absolute;
      margin-left: 0;
      margin-right: 0;
      
     
      
     
      
    }
    .kasalogo {
      margin-top: 3.75em; // Conversion de 60px en em
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 120px;
      padding-top: 20px;
      
    }
  
    .kasap {
      color: white;
      margin: 0;
      font-size: 1.3em;
      text-align: center;
      
      flex-wrap: wrap;
      padding-left: 5em;
      max-width: 150px; /* Ajustez cette valeur en fonction de vos besoins */
      word-wrap: break-word;
      
      
    }
  
  }
  
      
      

}

  /* Media query spécifique pour les petits écrans comme l'iPhone SE */
@media (max-width: 375px) {
  footer {
    .bann {
      height: 14em; // Permet de s'adapter au contenu
      
      margin-top: 20px;
      width: 100%;
      margin-left: 0;
    }

    .kasalogo {
      margin-top: 1em; // Réduire l'espace supérieur
      margin-left: 0; // Centrer horizontalement
      width: 30%; // Ajuster la largeur du logo
      padding-top: 1em;
    }

    .kasap {
      margin-left: 0; // Centrer horizontalement
      font-size: 1em; // Ajuster la taille de la police
      padding-left: 7em; // Ajouter du padding pour un meilleur espacement
      max-width: 150px; /* Ajustez cette valeur en fonction de vos besoins */
      word-wrap: break-word;
      padding-top: 1em;
    }
  }
}


@media (max-width: 1024px) and (min-width: 768px) {
  footer {
    .bann {
      height: 19em; // Permet de s'adapter au contenu
      padding: 1em; // Ajouter du padding pour un meilleur espacement
      margin-top: 7em;
      width: 100%;
    }

    .kasalogo {
      margin-top: 1em; // Réduire l'espace supérieur
      margin-left: 0; // Centrer horizontalement
      width: 20%; // Ajuster la largeur du logo
    }

    .kasap {
      margin-left: 0; // Centrer horizontalement
      font-size: 0.75em; // Ajuster la taille de la police
      padding: 0.5em; // Ajouter du padding pour un meilleur espacement
    }
  }
}
