@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
  .main {
    padding: 2rem 3rem;
    min-height: 60vh;
    font-family:  'Montserrat', sans-serif;
  
    @media screen and (max-width: 768px) {
      max-width: 23.4375em;
      min-width:  20em;
      padding: 0em 0em;
      align-items: center;
      margin: 0;
    }
  }